# Flutter/Dart
.metadata
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Сгенерированные платформенные папки (создаются `flutter create .`)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
*.iml
.vscode/
